<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.mapper.ActivityMapper">

    <resultMap id="ActivityMap" type="com.club.entity.Activity">
        <id property="activityId" column="activity_id"/>
        <result property="clubId" column="club_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="location" column="location"/>
        <result property="time" column="time"/>
        <result property="quota" column="quota"/>
        <result property="needAudit" column="need_audit"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
    </resultMap>

    <sql id="table_columns">
        activity_id,
        club_id,
        title,
        description,
        location,
        time,
        quota,
        need_audit,
        status,
        created_at
    </sql>

    <select id="searchActivities" resultType="java.util.Map">
        SELECT
        a.activity_id,
        a.title,
        a.description,
        a.location,
        a.time,
        a.status,
        c.name AS clubName,
        cc.name AS categoryName
        FROM activity a
        LEFT JOIN club c ON a.club_id = c.club_id
        LEFT JOIN club_category cc ON c.category_id = cc.category_id
        WHERE 1 = 1

        <if test="keyword != null and keyword != ''">
            AND a.title LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <if test="categoryId != null">
            AND c.category_id = #{categoryId}
        </if>

        ORDER BY a.time DESC
    </select>

    <insert id="insertActivity" parameterType="com.club.entity.Activity" useGeneratedKeys="true" keyProperty="activityId">
        INSERT INTO activity
        (club_id, title, description, location, time, start_time, end_time, quota, need_audit, status, created_at)
        VALUES
            (#{clubId}, #{title}, #{description}, #{location}, #{time}, #{startTime}, #{endTime}, #{quota}, #{needAudit}, #{status}, #{createdAt})
    </insert>


    <!-- 查询活动 -->
    <select id="selectById" resultMap="ActivityMap">
        SELECT *
        FROM activity
        WHERE activity_id = #{activityId}
    </select>
    <!-- 更新活动状态 -->
    <update id="updateActivityStatus">
        UPDATE activity
        SET status = #{status}
        WHERE activity_id = #{activityId}
    </update>

    <!-- 查询某个社团的所有活动 -->
    <select id="selectByClubId" resultMap="ActivityMap">
        SELECT *
        FROM activity
        WHERE club_id = #{clubId}
        ORDER BY time DESC
    </select>

    <select id="selectActivityListForAdmin" resultType="com.club.entity.vo.ActivityVO">
        SELECT
        a.activity_id AS activityId,
        a.title,
        c.name AS clubName,
        a.time,
        a.location,
        a.status,
        (SELECT COUNT(*) FROM activity_signup WHERE activity_id = a.activity_id) AS signupCount,
        CASE a.status
        WHEN '1' THEN '待确定'
        WHEN '2' THEN '已通过'
        WHEN '3' THEN '进行中'
        WHEN '4' THEN '已结束'
        WHEN '5' THEN '已拒绝'
        ELSE ''
        END AS statusText
        FROM activity a
        LEFT JOIN club c ON a.club_id = c.club_id
        WHERE 1 = 1
        <if test="queryDto.status != null and queryDto.status != ''">
            AND a.status = #{queryDto.status}
        </if>
        <if test="queryDto.clubName != null and queryDto.clubName != ''">
            AND c.name LIKE CONCAT('%', #{queryDto.clubName}, '%')
        </if>
        <if test="queryDto.startTime != null">
            AND a.time >= #{queryDto.startTime}
        </if>
        <if test="queryDto.endTime != null">
            AND a.time  &lt;= #{queryDto.endTime}
        </if>
        ORDER BY a.created_at DESC
        LIMIT #{queryDto.pageSize} OFFSET #{offset}
    </select>


    <select id="countActivityListForAdmin" resultType="int">
        SELECT COUNT(*)
        FROM activity a
        LEFT JOIN club c ON a.club_id = c.club_id
        WHERE 1 = 1
        <if test="queryDto.status != null and queryDto.status != ''">
            AND a.status = #{queryDto.status}
        </if>
        <if test="queryDto.clubName != null and queryDto.clubName != ''">
            AND c.name LIKE CONCAT('%', #{queryDto.clubName}, '%')
        </if>
        <if test="queryDto.startTime != null">
            AND a.time >= #{queryDto.startTime}
        </if>
        <if test="queryDto.endTime != null">
            AND a.time &lt;= #{queryDto.endTime}
        </if>
    </select>

</mapper>