<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.mapper.OperationLogMapper">

    <resultMap id="OperationLogMap" type="com.club.entity.OperationLog">
        <id property="logId" column="log_id"/>
        <result property="userId" column="user_id"/>
        <result property="adminId" column="admin_id"/>
        <result property="action" column="action"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <sql id="table_columns">
        log_id,
        user_id,
        admin_id,
        action,
        ip_address,
        created_at
    </sql>
    
    <!-- 插入操作日志 -->
    <insert id="insert" parameterType="com.club.entity.OperationLog" useGeneratedKeys="true" keyProperty="logId">
        INSERT INTO operation_log(user_id, admin_id, action, ip_address, created_at)
        VALUES (#{userId}, #{adminId}, #{action}, #{ipAddress}, #{createdAt})
    </insert>

    <select id="list" resultType="com.club.entity.admin.vo.OperationLogVO">
        SELECT
            ol.log_id,
            ol.user_id,
            ol.admin_id,
            ol.action,
            ol.ip_address,
            ol.created_at,
            COALESCE(u.student_no, a.admin_no) AS student_no,
            COALESCE(a.admin_no, u.student_no) AS admin_no,
            COALESCE(u.role, a.role) AS role
        FROM operation_log ol
                 LEFT JOIN user u ON ol.user_id = u.user_id
                 LEFT JOIN admin a ON ol.admin_id = a.user_id
        ORDER BY ol.created_at DESC
    </select>

</mapper>